.navbar-home{
	margin-top: 30px;
}
.size{
	margin-top: 30px;
	margin-left: 50px;
}

.add{
	background-color: brown;
	border: none;
	border-radius: none;
	width: 170px;
}

.free{
	background-color: black;
	color: white;
	margin-left: 70px;
}
.line{
	background-color: purple;
	width: 70px;
	height: 5px;
}

.prize{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.quantity{
	color: grey;
	text-align: center;
}
.flex-container div {
    background-color: grey;
    width: 40px;
    height: 50px;
    margin: 7px;
    border-radius: 40px;
}

.star{
	background-color: grey;
	padding-left: 20px;
}




.num{
	width: 100px;
	height: 40px;
	border-radius: 2px;

}

.flex-container{
	display: flex;
}

.flex-container div{background-color: grey;
	width: 40px;
	height: 40px;
	margin: 7px;

}